body{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



#google-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#google-img-div > img {
    width: 280px;
}

#search-bar{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    /* background-color: aqua */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}


#search-bar a {
    text-decoration: none;
    color:dodgerblue;
}

#search-bar > div {
    margin: 0 5px;
}

#lucky-search{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lucky-search > span {
    margin: 0px 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 130px;
    text-align: center;
    height: 30px;
    margin-top: 5px;
        
}
#lucky-search  a{
    text-decoration: none;
    color: black;
    
    font-family: Arial, Helvetica, sans-serif;

}

#google-lang > a{
    text-decoration: none;
    margin: 0px 6px;
    
}

#google-lang{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    font-size: 13px;
}

#search{

    width: 350px;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    text-align: left;
    margin-top: 8px; 
    

}
